.details{
    width:75%;
    text-align:left;
}
.details p{
    width:100%;
}
.files{
    width:75%;
    text-align:left;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding:1em;
}
ul {
    list-style-type: none;
}
.files *:not(button){
    width:100%;
}
span button{
    width: 40px;
    background:none;
    border:none;
    color:blue;
    cursor:pointer;
}
.form {
    z-index:1000;
    position:fixed;
    top:50%;
    left:50%;
    width:35%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding:1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition:ease 0.2s;
}
.form button{
    background-color:blue;
    color:white;
    border:none;
    padding: 0.5em 1em;
    border-radius:8px;

}
form input[type="text"], input[type="tel"], input[type="email"]{
    width:100%;
    padding:0.5em;
    margin-bottom:1em;
    border:1px solid #ccc;
    border-radius:4px;
}
.controls{
    display:flex;
    margin-bottom:1em;
    gap:5px;
}
.controls button{
    flex:1;
    background-color:rgb(234, 234, 255);
    color:rgb(77, 0, 244);
    border:none;
    padding: 0.5em 1em;
    border-radius:8px;
}
.controls button[type="submit"]{
    flex:1;
    background-color:blue;
    color:white;
    border:none;
    padding: 0.5em 1em;
    border-radius:8px;
}
.layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: ease 0.2s;
}