.details{
    width:75%;
    text-align:left;
}
.details p{
    width:100%;
}
.files{
    width:75%;
    text-align:left;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding:1em;
}
ul {
    list-style-type: none;
}
.files *:not(button){
    width:100%;
}
span button{
    width: 40px;
    background:none;
    border:none;
    color:blue;
    cursor:pointer;
}