.details{
    width:75%;
    text-align:left;
}
.details p{
    width:100%;
}
.files{
    width:75%;
    text-align:left;
    border-radius: 8px;
}
ul {
    list-style-type: none;
}
.files *:not(button){
    width:100%;
}
span button{
    width: 40px;
}