article{
    margin:0 3%;
    padding:1%;
    border-radius: 12px;
    background-color: white;
}
.cont{
    background-color: rgba(79, 163, 237, 0.115);
}
.head{
    display:flex;
    align-items: center;

}
.head h3{
    flex: 1;
    margin: 0;
    font-weight: bold;
    font-size: 2em;
}
.head .date{
    float: right;
}
.news-content{
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5;
}
hr{
    border: 0;
    border-top: 1px solid #ccc;
}