.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.row span {
    flex: 1 1 calc(33.33% - 10px); /* Ajuste selon la largeur souhaitée */
    box-sizing: border-box;
}

.row img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Media queries pour rendre la grille responsive */
@media (max-width: 1200px) {
    .row span {
        flex: 1 1 calc(50% - 10px); /* Ajuste selon la largeur souhaitée */
    }
}

@media (max-width: 900px) {
    .row span {
        flex: 1 1 calc(100% - 10px); /* Ajuste selon la largeur souhaitée */
    }
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.lightbox-image, .lightbox-video {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}