body{

    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
*{
        font-family: Arial, sans-serif;
}
textarea{
    width: 50%;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}
.slideshow-text textarea{
    width: 100%;
}
.h2{
    font-size: 1.5em;
    font-weight: bold;  
}
.h3{
    font-size: 1.2em;
    font-weight: bold;  
}
span{
    margin-right:5px;
    width:100%;
}
input[type="text"]{
    margin:4%;
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:black;
}
input[type="file"]::file-selector-button {
    display: block;
    margin-top: 10px;
    background-color: #3434ff;
    border-radius: 3px;
    padding:5px;
    border:none;
    color: rgb(255, 255, 255);
}
button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[name="logout"] {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form{
    margin-bottom: 10px;
}
.slideshow-images, .slideshow-text{
    margin-bottom: 0;
}
.lnk{
    width: 90%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:black;
}
.slideshow-links span{
    width:100%;
}
.p{width:100%;}
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background: #2e2a9b;
    background: -webkit-linear-gradient(0deg, rgba(46, 42, 155, 1) 0%, rgba(91, 89, 179, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(46, 42, 155, 1) 0%, rgba(91, 89, 179, 1) 100%);
    background: linear-gradient(0deg, rgba(46, 42, 155, 1) 0%, rgba(91, 89, 179, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2E2A9B", endColorstr="#5B59B3", GradientType=0);
    z-index: 1000;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navbar a:hover {
  background-color: #3400a3;
  color: rgb(255, 255, 255);
}

/* Page content */
.content {
  padding: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.delete{
    color:white;
    background-color: #dc3545;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin:3px;
}
.edit{
    color:white;
    background-color: #021781;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin:3px;
} 