nav{
    position:fixed;
    top:10vh;
    left:0;
    height:100vh;
    background-color:#fff;
    overflow-x: hidden;
    width:4em;
    z-index:100;
    transition: width 0.3s ease-in-out;
    background-color: rgba(243, 246, 255, 0.764);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
nav ul{
    list-style:none;
    padding:0;
    gap:20px;
    margin-top:20px;
    font-size:1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
nav ul li:hover{
    border-left:5px solid blue;
    margin-left:-5px;
}
nav ul a{
    text-decoration:none;
    color:black;
    font-size:1.2em;
    padding:10px 20px;
    
}
nav ul li{
    font-size:1.2em;
    margin-bottom:20px;
}
nav ul a span{
    display: inline-block;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
nav:hover{
    width:15em;
    transition: width 0.3s ease-in-out;
}
.active {
    color:blueviolet;
}
