* {
  box-sizing: border-box;
}
.wrapper{
  margin:5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}
.element{
  display:flex;
  justify-content: center;
  background: #0e2f42;
  border-radius: 10px;
  width: 100%;
  align-items: center;

}
.element a{
  color:rgb(136, 255, 205);
  display:flex;
  height:100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 10px solid rgb(9, 13, 24);
  border-radius: 10px;
  font-size: 2rem;
}
.element.el1{
  background-image: url('../ressources/SlideshowJeunes.jpg');
  background-position-y: 35%;
  background-size: 100%, cover;
}
.element.el1 a{
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}
.element.el1 a:hover{
  backdrop-filter: grayscale(0%);
  -webkit-backdrop-filter: grayscale(0%);
  color: yellow;
}
.element.el2{
  background-image: url('Maitres.jpg');
  background-position-y: 37%;
  background-size: 100%, cover;
}
.element.el2 a{
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}
.element.el2 a:hover{
  backdrop-filter: grayscale(0%);
  -webkit-backdrop-filter: grayscale(0%);
  color: rgb(255, 0, 140);
}
.element.el3{
  background-image: url('Sauvetage.jpg');
  background-position-y: center;
  background-size: 100%, cover;
}
.element.el3 a{
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}
.element.el3 a:hover{
  backdrop-filter: grayscale(0%);
  -webkit-backdrop-filter: grayscale(0%);

  color: rgb(102, 255, 0);
}
.element.el4{
  background-image: url('Bureau.jpg');
  background-position-y: 35%;
  background-size: 100%, cover;
}
.element.el4 a{
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}
.element.el4 a:hover{
  backdrop-filter: grayscale(0%);
  -webkit-backdrop-filter: grayscale(0%);
  color: blue;
}
.element a:hover{
  transition: all ease 0.5s;
  color: #d2e1e9;
  border: 10px solid rgb(93, 136, 255);
  border-radius: 10px;
  text-shadow: rgb(0, 0, 0) 2px 0 20px;
}
